{% extends "base.html" %}
{% block header %}
    <h2>{% block title %}Index{% endblock %}</h2>
{% endblock %}
{% block content %}
<div class="w3-container">
    {{ config.APP_NAME }} est une application permettant de gérer ses investissements.
</div>
{% endblock %}