<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - {{config.APP_NAME}}</title>
        <!--link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"-->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="w3-bar w3-black">
            <h1 class="w3-bar-item w3-medium" style="margin: 0px; padding-top: 0px; padding-bottom: 0px;"><a class="w3-button" href="{{ url_for('index') }}">{{config.APP_NAME}}</a></h1>
            <a class="w3-bar-item w3-button" href="{{ url_for('indices.indices_list') }}">Indices</a>
            <div class="w3-bar-item w3-button">Tokyo</div>
        </div>
        <header class="w3-container">
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="w3-panel w3-blue">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
        <script src="https://unpkg.com/vue@3"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
