{% extends "base.html" %}
{% block header %}
    <h2>{% block title %}Indice des prix à la consommation{% endblock %}</h2>
{% endblock %}
{% block content %}
<div class="w3-container" id="app">
    <div id="modalIndiceForm" class="w3-modal">
        <div class="w3-modal-content">
            <img src="{{ url_for('static', filename='icons/cancel.svg') }}"
                 alt="cancel icon" title="Fermer la fenêtre"
                 class="w3-button w3-display-topright w3-teal"
                 @click="hideModal()" />
            <div class="w3-container w3-teal">
                <h3 v-if="action === 'create'">Ajouter un indice</h3>
                <h3 v-else-if="action === 'update'">Modifier un indice</h3>
                <h3 v-else>Action indéterminée</h3>
            </div>
            <div class="w3-container w3-pale-yellow" id="errorMessage" v-if="error">
                <div class="w3-panel w3-pink">
                    <p>L'opération a échoué.</p>
                </div>
            </div>
            <form @submit.prevent="processModalForm()">
                <input type="hidden" id="indiceId" v-model.number="currentIndice.id" />
                <div class="w3-container w3-pale-yellow w3-padding-small">
                    <label for="indiceYyyymm">Année/mois</label>
                    <input class="w3-input" id="indiceYyyymm" v-model.number="currentIndice.yyyymm" />
                    <label for="value">Indice</label>
                    <input class="w3-input" id="value" v-model.number="currentIndice.value" />
                </div>
                <div class="w3-container w3-pale-yellow w3-center w3-padding-small">
                    <button class="w3-btn w3-green">Enregistrer</button>
                </div>
            </form>
         </div>
    </div>
    <div v-if="indices">
        <table class="w3-table-all w3-hoverable">
            <thead>
                <tr class="w3-light-blue">
                    <th>
                        Année/mois
                    </th>
                    <th>
                        Indice
                    </th>
                    <th class="w3-center">
                        <img src="{{ url_for('static', filename='icons/add-square.svg') }}"
                             alt="add icon" title="Ajouter un indice"
                             class="w3-button"
                             @click="showModal();" />
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="indice of indices">
                    <td>
                        {% raw %}{{ indice.yyyymm }}{% endraw %}
                    </td>
                    <td>
                        {% raw %}{{ indice.value }}{% endraw %}
                    </td>
                    <td class="w3-center">
                        <img src="{{ url_for('static', filename='icons/edit-pencil.svg') }}"
                             class="w3-button"
                             alt="add icon"
                             title="Modifier cet indice"
                             @click="showModal(indice);" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div v-else>
        Chargement des données...
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
var urlsApi = {
    create: "{{ url_for('api.indice_create') }}",
    update: "{{ url_for('api.indice_update') }}",
    list : "{{ url_for('api.indices_list') }}"
}
</script>
<script src="{{ url_for('static', filename='js/indices.js')}}"></script>
{% endblock %}
